
body, #wrapper, .container, section
{
    background-color: #222222 !important;
    overflow-x: hidden;
}

#logo
{
    width: 90%;
}

#menu-toggle
{
    bottom: 50px;
    right: 50px;
    z-index: 1;
    position: fixed;
}

#banner
{
    z-index: 1;
    position: fixed;
    width: auto;
}

p, h1, span, h4, h5
{
    color: #ffffff !important;
    text-align: left;
}

form
{
    position: inherit;
    z-index: 10;

}

#logged
{
    text-align: right;
}

#unlogged
{
    text-align: center;
}

label
{
    color: #ffffff;
}
#pics1, #pics2
{
    width: 225px;
    height: auto;
    margin: 10px;
}

#pics1
{
    float: left;
}

#pics2
{
    float: right;
}

#slideshow
{
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: auto;
}
